/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
  }
  
  .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
    float: right;
  }
  
  
  .custom-style {
    /* padding: 10px 30px; */
    border: #9D4DCA solid 1px;
  
    border-radius: 25px;
    background-color: #9D4DCA;
    color: white;
    font-weight: bold;
    border: none;
    text-align: center;
    /* vertical-align: middle; */
  }
  .custom-style:hover {
    background-color: white;
    color: #9D4DCA;
    border: #9D4DCA solid 1px;
  }
  